<ng-template [ngIf]="mediciones?.length > 0" [ngIfElse]="loading">
    <div style="margin-top:1.5rem;text-align: center;padding:0.1rem;color:#ffffff;background-color: #11064e;">
        <strong>Todas las {{title}}</strong>
    </div>
    <table>
        <thead>
        <tr>
            <th style="text-align: left;">FECHA</th>
            <th style="text-align: left;">TIPO</th>
            <th style="text-align: right;">VALOR</th>        
        </tr>
        </thead>
        <tbody>
        <tr *ngFor = "let row of mediciones">
            <td style="text-align: left;">{{row.fecha | formatDate}}</td>
            <td style="text-align: left;">{{row.tipo}}</td>        
            <td style="text-align: right;">{{row.valor}}</td>        
        </tr>     
        </tbody>
    </table>
</ng-template>
<ng-template #loading>
    <div style="width:100%; text-align:center;margin-top:0.8rem"> 
        <img src="assets/images/empty_doc.png" style="width:4rem;height:4rem;"/>     
        <div><strong>No existen mediciones</strong></div>
    </div>
</ng-template>